<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.nordakademie.wpk.team2.car2go.ui.views.Car2goView"
            icon="resources/icons/car2goIcon16x16.png"
            id="de.nordakademie.wpk.team2.car2go.ui.views.Car2goView"
            name="Car2Go"
            restorable="true">
      </view>
   </extension>
   <extension
         id="de.nordakademie.wpk.team2.car2go.ui.views.Car2goView.menuSignedIn"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.nordakademie.wpk.team2.car2go.ui.views.Car2goView">
         <command
               commandId="de.nordakademie.wpk.team2.car2go.ui.addBookmark"
               icon="resources/icons/menu/addToBookmark.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <systemTest
                     property="de.nordakademie.wpk.team2.car2go.isUserSignedIn"
                     value="true">
               </systemTest>
            </visibleWhen>
         </command>
         <command
               commandId="de.nordakademie.wpk.team2.car2go.ui.removeBookmark"
               icon="resources/icons/menu/removeBookmark.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <systemTest
                     property="de.nordakademie.wpk.team2.car2go.isUserSignedIn"
                     value="true">
               </systemTest>
            </visibleWhen>
         </command>
         <command
               commandId="de.nordakademie.wpk.team2.car2go.ui.addCar"
               icon="resources/icons/menu/showDetails.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.nordakademie.wpk.team2.car2go.ui.addBookmark"
            name="Auto merken">
      </command>
      <command
            id="de.nordakademie.wpk.team2.car2go.ui.removeBookmark"
            name="Aus den Favoriten entfernen">
      </command>
      <command
            id="de.nordakademie.wpk.team2.car2go.ui.addCar"
            name="Detailansicht">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.nordakademie.wpk.team2.car2go.ui.handler.AddBookmarkHandler"
            commandId="de.nordakademie.wpk.team2.car2go.ui.addBookmark">
      </handler>
      <handler
            class="de.nordakademie.wpk.team2.car2go.ui.handler.RemoveBookmarkHandler"
            commandId="de.nordakademie.wpk.team2.car2go.ui.removeBookmark">
      </handler>
      <handler
            class="de.nordakademie.wpk.team2.car2go.ui.handler.CarEditHandler"
            commandId="de.nordakademie.wpk.team2.car2go.ui.addCar">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.nordakademie.wpk.team2.car2go.ui.editor.CarEditor"
            icon="resources/icons/car2goIcon16x16.png"
            id="de.nordakademie.wpk.team2.car2go.ui.editor.CarEditor"
            name="Auto">
      </editor>
   </extension>
</plugin>
